/* .text-red{
    color:red
} */
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

.para{
    color:rgb(60, 0, 255);
    font-size:2em;
    text-align: justify;
    text-decoration: underline;
    text-decoration-color:red;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-transform: capitalize;
    line-height:50px;
    word-spacing: 10px;
    letter-spacing:10px;
    text-indent: 50px;
    font-family:'KoHo' ;
    font-weight: bold;
    font-style: italic;
    background: #ff0000;
}

a{
    text-decoration: none;
    color:red;
}


.bg-red{
    background:red
}



.bg-yellow{
    background:yellow
}


h1{
    display: inline-block;
    margin:200px;
    padding:10px 0px;
    padding-left:25px;    
}

a{
    display: block;
}

.mt-20{
    margin-top:20px
}


/* 
    color => 
        i) colorName || red, blue, yellow
        ii) hex code || #951, #f7878f
        iii) rgb   || rgb(120, 201, 124)
        iv) rgba   ||  rgba(120, 201, 124, 0.5)
        v) hsl


    font-size => 
        i) px
        ii) em  || 1em = 16px
        iii) rem || 1rem = font size of root element
        iv) %
    
    text-align => center, left, right, justify

    text-decoration: underline, overline, line-through, none


    text-decoration-style: dashed, dotted, double, wavy, groove


     text-transform: uppercase, lowercase, capitalize;




     display : inline >>> element will take only width which is required
             : block  >>> element will take 100% width of its parent
             : inline-block >> element will take width what we have given to it


    margin >> shifts element from outside
        margin:
        margin-left
        margin-top
        margin-right
        margin-bottom
*/

