*{
    margin:0px;
    padding:0px;
}
.clear{
    clear:both;
}
.header{    
    background:red;
}

.header img{
    width:50px;

}

.nav{    
    background:green;
}



.nav ul{
    list-style-type: none;
    margin-left:1000px;
}

.nav ul li{
    float:left;
    padding:10px 50px;
}

.left-body{
    height:500px;
    background:blue;
    float:left;
    width:15%
}

.center-body{
    height:500px;
    background:pink;
    float:left;
    width:70%
}

.right-body{
    height:500px;
    background:gray;
    float: left;
    width:15%

}

.footer{
    height:50px;
    background:greenyellow;
}

.left-body ul li{
    padding: 10px 20px;
}
.left-body ul li a{
    color:white;
   
}